/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #212121;
  background-color: #fff;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
}

.button {
  color: #fff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.87;
  min-width: 200px;
  padding: 10px 32px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.hidden {
  white-space: nowrap;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.nav-flex {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
  margin-right: 93px;
}
.navigation__logo--web {
  color: #2196f3;
}
.navigation__list {
  display: flex;
}
.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  text-decoration: none;
  color: #212121;
  padding: 32px 0;
  font-weight: 500;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}
.navigation__link--current {
  color: #2196f3;
}
.navigation__link--current::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.contact__item:not(:last-child) {
  margin-right: 50px;
}
.contact__link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}
.contact__link--mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.contact__link--smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: #757575;
}

.icons__header {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover .icons__header, .contact__link:focus .icons__header {
  fill: #2196f3;
}

.hero {
  background-color: #c4c4c4;
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  max-width: 696px;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 30px auto;
}

.skils {
  padding: 94px 0;
}
.skils__list {
  display: flex;
}
.skils__item {
  width: 270px;
  margin-right: 30px;
}
.skils__item:last-child {
  margin-right: 0;
}
.skils__preview {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.skils__icon {
  width: 70px;
  height: 70px;
}
.skils__title {
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  color: #212121;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.skils__description {
  line-height: 1.71;
  color: #757575;
}

.result {
  padding-bottom: 94px;
}
.result__list {
  display: flex;
}
.result__item {
  position: relative;
}
.result__item:not(:last-child) {
  margin-right: 30px;
}
.result__title {
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 27px 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
  padding: 94px 0;
}
.team__list {
  display: flex;
}
.team__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}
.team__name {
  text-align: center;
  padding: 30px 32px;
}
.team__name--title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  margin-bottom: 10px;
}
.team__name--description {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-bottom: 16px;
}

.team-social {
  display: flex;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}
.team-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, .team-social__link:focus {
  background-color: #2196f3;
  color: #fff;
}
.team-social__icon {
  fill: currentColor;
}

.clients {
  padding: 94px 0;
}
.clients__list {
  display: flex;
}
.clients__item {
  width: 170px;
  height: 92px;
}
.clients__item:not(:last-child) {
  margin-right: 30px;
}
.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}
.clients__link--icon {
  fill: currentColor;
}

.footer {
  background-color: #2f303a;
  color: #fff;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.footer__adress {
  margin-right: 70px;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #fff;
}
.footer__logo--span {
  color: #2196f3;
}

.address {
  display: flex;
  margin-top: 20px;
}
.address__list {
  list-style: none;
  font-style: normal;
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}
.address__link--maps {
  color: #fff;
  text-decoration: none;
}
.address__link--maps:hover, .address__link--maps:focus {
  color: #2196f3;
}

.joinus {
  margin-right: auto;
}
.joinus__title {
  margin: 12px 0 20px 0;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.joinus__list {
  display: flex;
}
.joinus__item {
  width: 44px;
  height: 44px;
}
.joinus__item:not(:last-child) {
  margin-right: 10px;
}
.joinus__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.joinus__link:hover, .joinus__link:focus {
  background-color: #2196f3;
}
.joinus__icon {
  fill: #fff;
}

.subscribe__title {
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  display: inline-block;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  color: #fff;
}
.subscribe__button {
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
}
.subscribe__button--icon {
  margin-left: 10px;
  fill: #fff;
}

.portfolio {
  padding: 94px 0;
}

.portfolio__list {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  height: 38px;
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  border: 0px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__btn:hover, .portfolio__btn:focus {
  color: #fff;
  background: #2196f3;
}

.cursor {
  color: #fff;
  background: #2196f3;
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.preview-section {
  background-color: #fff;
}

.preview__item h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.preview {
  list-style: none;
  font-weight: 500;
  line-height: 1.14;
  display: flex;
  flex-wrap: wrap;
}
.preview__wraper {
  position: relative;
  overflow: hidden;
  display: block;
  background-color: #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.preview__title {
  background: #fff;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.preview__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.preview__item:hover, .preview__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.preview__item:nth-child(3n) {
  margin-right: 0;
}
.preview__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.preview__item:hover .overlay {
  transform: translatex(0);
}

.preview__title p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  color: #fff;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
}
.modal__button {
  margin: 0 auto;
  padding: 10px 55px;
}
.modal__button:hover, .modal__button:focus {
  background: #188ce8;
}
.modal__close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  min-width: 30px;
  min-height: 30px;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.modal__close--icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover .modal__close--icon, .modal__close:focus .modal__close--icon {
  fill: #2196f3;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__input {
  height: 40px;
  padding: 12px 12px 12px 42px;
  box-sizing: border-box;
  border-radius: 4px;
  outline: transparent;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__icon {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover + .form__icon,
.form__input:focus + .form__icon {
  fill: #2196f3;
}

.form__input:hover,
.form__input:focus {
  border-color: #2196f3;
}

.form__input.coment {
  height: 120px;
  padding-left: 16px;
}

.form__agrement {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.agrement-input {
  appearance: none;
}

.icon-check {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid #212121;
  background-color: transparent;
  transition: background-color 250ms ease;
}
.agrement-input:checked ~ .icon-check {
  background-color: #2196f3;
  border: transparent;
}

.agrement-text {
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: #757575;
  margin-left: 8px;
}

.agrement-link {
  line-height: 1.8;
  letter-spacing: 0.03em;
  text-decoration: underline;
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */