.footer {
  background-color: $background__color--dark;
  color: $text__color--white;
  padding: 60px 0;

  &__wraper {
    display: block;

    @media screen and (max-width: 1199px) {
      text-align: center;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
  }

  &__adress {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: 50%;
    }

    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }

  &__logo {
    font-family: $fonts__alternative;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $text__color--white;

    &--span {
      color: $accent__color--main;
    }
  }
}

.address {
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  margin-top: 20px;
  margin-bottom: 60px;

  &__list {
    list-style: none;
    font-style: normal;
    line-height: 1.71;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent__color--main;
    }

    &--maps {
      color: $text__color--white;
      text-decoration: none;

      &:hover,
      &:focus {
        color: $accent__color--main;
      }
    }
  }
}

.joinus {
  margin-bottom: 60px;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: 50%;
  }

  @media screen and (min-width: $desktop) {
    margin-right: auto;
  }

  &__title {
    margin: 0 0 20px;
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
      margin: 12px 0 20px 0;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: $accent__color--main;
    }
  }

  &__icon {
    fill: $text__color--white;
  }
}

.subscribe {
  &__title {
    line-height: 1.14;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text__color--white;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      width: 450px;
    }
  }

  &__form {
    @media screen and (min-width: $desktop) {
      display: flex;
    }
  }

  &__input {
    display: block;
    width: 100%;
    height: 50px;
    min-width: 150px;
    max-width: 450px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 16px;
    color: $text__color--white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: $desktop) {
      display: inline-block;
      margin-right: 12px;
      margin-bottom: 0;
      padding: 15px 16px;
      width: 358px;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.06em;
    padding: 10px 28px;

    @media screen and (min-width: $desktop) {
      display: flex;
    }

    &--icon {
      margin-left: 10px;
      fill: $text__color--white;
    }
  }
}
