.result {
  padding-bottom: 94px;

  &__list {
    display: flex;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__title {
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 27px 0;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
    font-family: $fonts__main;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text__color--white;
  }
}
