$fonts__main: 'Roboto', sans-serif;
$fonts__alternative: 'Raleway', sans-serif;
$text__color--white: #fff;
$text__color--light: #757575;
$text__color--dark: #212121;
$background__color--main: #fff;
$background__color--light: #f5f4fa;
$background__color--dark: #2f303a;
$accent__color--main: #2196f3;
$accent__color--dark: #188ce8;
$social-icon__color: #afb1b8;
